@import "../../../../assets/scss/global";

.logo-header {
  display: flex;
  justify-content: space-between;
  padding: rem(32px);

  @include screen-s {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    height: rem(56px);

    @include screen-s {
      height: rem(48px);
    }
  }

  .logo:last-child {
    @include screen-s {
      display: none;
    }
  }
}
