@import "../../../../assets/scss/global";

.card {
  width: 100%;
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(24px);

  &__text {
    color: $main-black;
  }
}
