<div class="formulario">
  <form (submit)="cadastrarUsuario()" #cadastroForm="ngForm">
    <div class="avatar-container uk-margin-large-top">
      <!-- Div circular para a imagem de perfil -->
      <div class="avatar">
        <img
          [src]="imagemPerfil || './assets/default/default_profile.svg'"
          alt="Imagem de Perfil"
        />
      </div>
      <!-- Botão para selecionar arquivo de foto -->

      <div class="js-upload uk-margin-top" uk-form-custom>
        <input
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
          accept="image/*"
        />
        <button
          class="uk-button uk-button-primary"
          type="button"
          tabindex="-1"
          (click)="fileInput.click()"
        >
          Selecionar Imagem
        </button>
      </div>
    </div>

    <div class="questoes">
      <div class="uk-margin-top">
        <p class="uk-margin-top titulo">Dados Cadastrais</p>
      </div>
      <div class="uk-flex uk-margin-top">
        <div class="uk-width-1-2">
          <label for="nome">Nome</label>
          <input
            class="uk-input"
            type="text"
            id="nome"
            name="nome"
            required
            [(ngModel)]="usuario.nome"
          />
        </div>

        <div class="uk-width-1-2 uk-margin-left">
          <label for="sobrenome">Sobrenome</label>
          <input
            class="uk-input"
            type="text"
            id="sobrenome"
            name="sobrenome"
            required
            [(ngModel)]="usuario.sobrenome"
          />
        </div>
      </div>

      <div class="uk-flex uk-margin-top">
        <div class="uk-width-1-2@m">
          <label for="email">Email</label>
          <input
            class="uk-input"
            type="email"
            id="email"
            name="email"
            required
            [(ngModel)]="usuario.email"
          />
        </div>
        <div class="uk-width-1-2@m uk-visible@m uk-margin-left"></div>
      </div>
      <div class="uk-flex uk-margin-top">
        <div class="uk-width-1-2@m">
          <label for="telefone">Telefone</label>
          <input
            class="uk-input"
            type="tel"
            id="telefone"
            name="telefone"
            [(ngModel)]="usuario.telefone"
          />
        </div>
        <div class="uk-width-1-2@m uk-visible@m uk-margin-left"></div>
      </div>

      <div class="uk-flex uk-margin-top">
        <div class="uk-width-1-2@m">
          <label for="linkedin">LinkedIn</label>
          <input
            class="uk-input"
            type="text"
            id="linkedin"
            name="linkedin"
            [(ngModel)]="usuario.linkedin"
          />
        </div>
        <div class="uk-width-1-2@m uk-visible@m uk-margin-left"></div>
      </div>

      <div class="uk-flex uk-margin-top">
        <div class="uk-width-1-2@m">
          <label for="curso">Curso</label>
          <input
            class="uk-input"
            type="text"
            id="curso"
            name="curso"
            [(ngModel)]="usuario.curso"
          />
        </div>
        <div class="uk-width-1-2@m uk-visible@m uk-margin-left"></div>
      </div>

      <div class="uk-flex uk-margin-top">
        <div class="uk-width-1-2@m">
          <label for="senha">Senha</label>
          <input
            class="uk-input"
            type="password"
            id="senha"
            name="senha"
            required
            [(ngModel)]="usuario.senha"
          />
        </div>
        <div class="uk-width-1-2@m uk-visible@m uk-margin-left"></div>
      </div>

      <div class="uk-flex uk-margin-top">
        <div class="uk-width-1-2@m">
          <label for="repetirSenha">Repetir Senha</label>
          <input
            class="uk-input"
            type="password"
            id="repetirSenha"
            name="repetirSenha"
            required
            [(ngModel)]="repetirSenha"
          />
        </div>
        <div class="uk-width-1-2@m uk-visible@m uk-margin-left"></div>
      </div>
      <!--Função-->
      <div class="uk-flex uk-margin-top">
        <div class="uk-width-1-2@m">
          <label for="funcao">Função</label>
          <div class="uk-form-controls">
            <select
              class="uk-select"
              name="funcao"
              id="funcao"
              [(ngModel)]="usuario.funcao"
            >
              <option>Membro</option>
              <option>Coordenador de laboratório</option>
              <option>Vice-coordenador de laboratório</option>
            </select>
          </div>
        </div>
        <div class="uk-width-1-2@m uk-visible@m uk-margin-left"></div>
      </div>

      <!--Permissões-->
      <div class="uk-margin-top">
        <div>
          <p class="uk-margin-top titulo">Permissões</p>
        </div>
        <div class="switch-group">
          <div class="uk-flex uk-margin-top">
            <label class="uk-switch uk-light" for="adminSwitch">
              <input
                type="checkbox"
                id="adminSwitch"
                name="adminSwitch"
                [(ngModel)]="usuario.isAdmin"
              />
              <div class="uk-switch-slider uk-switch-on-off round"></div>
            </label>
            <label class="uk-margin-left">Administrador</label>
          </div>
          <div class="uk-flex uk-margin-top">
            <label class="uk-switch uk-light" for="noticiaSwitch">
              <input
                type="checkbox"
                id="noticiaSwitch"
                name="noticiaSwitch"
                [(ngModel)]="usuario.isGerenciadorNoticia"
              />
              <div class="uk-switch-slider uk-switch-on-off round"></div>
            </label>
            <label class="uk-margin-left">Gerenciador de Notícias</label>
          </div>
          <div class="uk-flex uk-margin-top">
            <label class="uk-switch uk-light" for="projetoSwitch">
              <input
                type="checkbox"
                id="projetoSwitch"
                name="projetoSwitch"
                [(ngModel)]="usuario.isGerenciadorProjeto"
              />
              <div class="uk-switch-slider uk-switch-on-off round"></div>
            </label>
            <label class="uk-margin-left">Gerenciador de Projetos</label>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons uk-margin-top">
      <button
        class="uk-button uk-modal-close"
        type="button"
        (click)="navigateBack()"
      >
        Cancelar
      </button>
      <button class="uk-button uk-button-primary uk-margin-left" type="submit">
        Cadastrar
      </button>
    </div>
  </form>
</div>
