.div-imagem{
height: 60%;
}
.div-descricao{
height: 40%;
}
.status-projeto{
   color: white;
   background-color: #117FCD;
   padding-inline: 5px ;
}
.tipo-projeto{
    color:white;
    background-color: #EE2049;
    padding-inline:5px;
    margin-left: 10px;
}
.tipo-status{
    margin-bottom: 20px;
}
.project-card{
    width: 420px;
    height: auto;
}
.title-project{
    height: 70px;
    max-height: 70px;
}