<div class="container">
  <div class="login uk-background-default uk-box-shadow-medium">
    <img
      class="login__logo"
      src="../../../assets/logos/main-logo.svg"
      alt="Logo LEDES"
    />
    <span class="login__title uk-margin">Login</span>
    <div class="login__fields">
      <div class="uk-margin">
        <input
          class="uk-input uk-form-small"
          type="text"
          placeholder="Email"
          aria-label="Email"
        />
      </div>
      <div class="uk-margin">
        <input
          class="uk-input uk-form-small"
          type="password"
          placeholder="Senha"
          aria-label="Senha"
        />
      </div>
    </div>
    <button class="uk-button uk-margin uk-button-secondary">ENTRAR</button>
  </div>
</div>
