<div class="uk-flex-center" uk-grid>
  <div class="uk-width-1-2@m">
    <p class="uk-text-center uk-margin-large-top uk-margin-medium-bottom">
      <span class="uk-icon" uk-icon="icon: logo-color-dark; ratio: 0.7"></span>
    </p>
    <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small">
      <h2 class="uk-card-title uk-text-center">Login</h2>
      <div class="uk-margin">
        <input class="uk-input uk-form" type="email" placeholder="E-mail" />
      </div>
      <div class="uk-margin">
        <input class="uk-input uk-form" type="password" placeholder="Senha" />
      </div>
      <div class="uk-margin uk-text-center">
        <a href="/" class="uk-button uk-button-secondary">Entrar</a>
      </div>
    </div>
    <p class="uk-text-center">
      <a href="/reset-password" class="uk-button uk-button-link"
        >Esqueci minha senha</a
      >
    </p>
  </div>
</div>
