@import "../../../../assets/scss/global";

.footer {
  color: $main_white;
  padding: rem(32px);
  font-size: rem(14px);

  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: rem(32px);
    align-items: center;

    @include screen-s {
      display: flex;
      flex-direction: column;
      row-gap: rem(8px);
      font-size: rem(12px);
      margin-bottom: rem(32px);
    }

    .logo {
      height: rem(40px);
    }

    .links {
      list-style: none;
      display: flex;
      gap: rem(24px);

      a {
        color: $main_white;

        &:hover {
          color: $main_gray;
        }
      }
    }
  }
}
