<div class="componente-ledes uk-card uk-card-default">
    <div class="dados-ledes">
        <h3>LABORATÓRIO DE ENGENHARIA DE SOFTWARE - LEDES</h3>
        <p>Telefone: (67) 3345-7532</p>
        <p>Coordenador: Ricardo Kondo</p>
        <p>E-mail do coordenador: ricardo.kondo.ufms.br</p>
        <div>
            <div>
                <p class="titulo-funcionamento">Horário de funcionamento</p>
            </div>
            <div>
                <table class="dia-hora">   
                    <tr>
                        <td>segunda-feira</td>
                        <td>08:00 - 21:00</td>
                    </tr>
                    <tr>
                        <td>terça-feira</td>
                        <td>08:00 - 21:00</td>
                    </tr>
                    <tr>
                        <td>quarta-feira</td>
                        <td>08:00 - 21:00</td>
                    </tr>
                    <tr>
                        <td>quinta-feira</td>
                        <td>08:00 - 21:00</td>
                    </tr>
                    <tr>
                        <td>sexta-feira</td>
                        <td>08:00 - 21:00</td>
                    </tr>
                    <tr>
                        <td>sábado</td>
                        <td>Fechado</td>
                    </tr>
                    <tr>
                        <td>domingo</td>
                        <td>Fechado</td>
                    </tr>
                </table>
           </div>
        </div>
    </div>
    <div class="mapa-ledes">mapa</div>
</div>