.titulo-funcionamento{
    font-size: 20px;
}
.dia-hora tr td{
    padding-inline: 5px;
}
.componente-ledes{
    display: flex;
    height: auto;
    min-width: 300px;
}
.dados-ledes{
    width: 50%;
    margin: 5px;
}
.mapa-ledes{
    width: 50%;
   
    margin: 5px;
}
.map-responsive{
    
   
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    
}
@media (max-width: 1024px) {
    .componente-ledes{
        display: inline;
       min-width: 300px;
      
    }
    .dados-ledes{
        width: 80%;
        margin-inline: auto;
        height: auto;
    }
    .mapa-ledes{
        width: auto;
        height: 50vh;
    }
    .map-responsive{
    display: flex;
    margin-inline: auto;
   height: 500px;
   width: 80%;
    }
}