<div class="container">
  <div class="login uk-background-default uk-box-shadow-medium">
    <img
      class="login__logo"
      src="../../../assets/logos/main-logo.svg"
      alt="Logo LEDES"
    />
    <span class="login__title uk-margin">Login</span>
    <form class="login__fields" [formGroup]="loginForm">
      <div class="uk-margin">
        <input
          class="uk-input uk-form-small"
          type="email"
          placeholder="Email"
          aria-label="Email"
          formControlName="email"
        />
      </div>
      <div class="uk-margin">
        <input
          class="uk-input uk-form-small"
          type="password"
          placeholder="Senha"
          aria-label="Senha"
          formControlName="password"
        />
      </div>
    </form>
    <button
      class="uk-button uk-margin uk-button-secondary"
      type="submit"
      [disabled]="!loginForm.valid"
      (click)="onSubmit()"
    >
      ENTRAR
    </button>
  </div>
</div>
