@import "../../../../assets/scss/global";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: rem(100px) 0;
    width: rem(500px);
    height: rem(400px);
    padding: rem(32px);

    &__logo {
      height: rem(48px);
    }

    &__title {
      font-size: rem(36px);
      color: $main-black;
      text-align: center;
    }

    &__fields {
      width: 80%;
    }
  }
}
