<div class="geral">
  <div class="membro-titulo text-center">
    <div class="avatar-container uk-margin-large-top">
      <div class="avatar">
        <img [src]="'./assets/default/default_profile.svg'" alt="Imagem de Perfil" />
      </div>
      <h2>{{ membro.nome }} {{ membro.sobrenome }}</h2>
    </div>
  </div>

  <div class="uk-margin-top-left mt-4">
    <div class="uk-text">{{ membro.vinculo }}</div>
    <div class="uk-text">Curso: {{ membro.curso }}</div>
    <div class="uk-text">E-mail: {{ membro.email }}</div>
  </div>

  <div class="mt-4">
    <h3 class="ml-3">Projetos Relacionados</h3>
    <div class="uk-grid">
      <app-project-card *ngFor="let projeto of membro.projetos" [projeto]="projeto" ></app-project-card>
    </div>
  </div>
</div>
