<div class="geral">
  <div class="membro-titulo">
    <div class="avatar-container uk-margin-large-top">
      <!-- Div circular para a imagem de perfil -->
      <div class="avatar">
        <img
          [src]=""
          alt="Imagem de Perfil"
        />
      </div>
      <h2>{{ membro.nome}}  {{ membro.sobrenome}}</h2>
  </div>
  <div class="uk-margin-top">
    <div class="uk-text">{{ membro.vinculo }}</div>
    <div class="uk-text">Curso: {{ membro.curso }}</div>
    <div class="uk-text">E-mail: {{ membro.email }} </div>

