<div class="geral">
  <div class="membro-titulo text-center">
    <div class="avatar-container uk-margin-large-top">
      <div class="avatar">
        <img
          [src]="'./assets/default/default_profile.svg'"
          alt="Imagem de Perfil"
        />
      </div>
      <h2>{{ membro.nome }} {{ membro.sobrenome }}</h2>

      <div class="text-center mt-3">
        <a
          href="https://linkedin.com/in/{{ membro.linkedin }}"
          target="_blank"
          class="uk-button uk-button-primary uk-margin-small-right"
          >LinkedIn</a
        >
        <a
          href="https://github.com/{{ membro.github }}"
          target="_blank"
          class="uk-button uk-button-secondary"
          >GitHub</a
        >
      </div>
    </div>
  </div>

  <div
    class="uk-margin-top-left"
    *ngFor="let projeto of membro.projetoUsuarios"
  >
    <div class="uk-text">Curso: {{ membro.curso }}</div>
    <div class="uk-text">E-mail: user@ledes.com.br</div>
  </div>

  <div class="uk-margin uk-margin-top-left">
    <h3 class="uk-margin-top-left">Projetos</h3>
    <ul class="uk-list uk-margin-left">
      <li class="uk-margin" *ngFor="let projeto of membro.projetoUsuarios">
        <div class="uk-text-bold">{{ projeto.projeto?.titulo }}</div>
        <div class="uk-text">
          {{ projeto.projeto?.dataInicio | date : "shortDate" }} -
          {{ projeto.projeto?.dataTermino | date : "shortDate" }}
        </div>
        <div class="uk-text">Vínculo: {{ projeto.tipoVinculo?.nome }}</div>
      </li>
    </ul>
  </div>

  <div class="mt-4">
    <h3 class="ml-3">Projetos Relacionados</h3>
    <div class="uk-grid">
      <app-project-card
        *ngFor="let projeto of membro.projetoUsuarios"
        [projeto]="projeto.projeto"
      ></app-project-card>
    </div>
  </div>
</div>
