.projeto-component{
 
    height: auto;
    width: 80%;
    min-width: 400px;
    margin-inline: auto;
    margin-top: 20px;
}
.projeto-titulo{
    margin-bottom: 40px;
}
.status-projeto{
    color: white;
    background-color: #117FCD;
    padding-inline: 5px ;
 }
 .tipo-projeto{
     color:white;
     background-color: #EE2049;
     padding-inline:5px;
     margin-left: 10px;
 }
 .tipo-status{
    
 }